<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="SelectedPhotoAccess">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Talky"
        tools:targetApi="31">
        <activity
            android:name=".postContent"
            android:exported="true">

        </activity>
        <activity
            android:name=".members"
            android:exported="false" />
        <activity
            android:name=".temporary"
            android:exported="true"></activity>
        <activity
            android:name=".chat_view"
            android:exported="true"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name=".chatList"
            android:exported="true">

        </activity>
        <activity
            android:name=".profilepage"
            android:exported="true"></activity>
        <activity
            android:name=".loginPage"
            android:exported="false" />
        <activity
            android:name=".SignUpPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>